export LOGFILE=log.txt
export DEBUG_LOGFILE=gdb.txt
export PROFILING_OUTPUT_DIR="profiling-benchmarks"
export PERF_OUTPUT_DIR="${PROFILING_OUTPUT_DIR}/perf"
export VALGRIND_OUTPUT_DIR="${PROFILING_OUTPUT_DIR}/valgrind"
